name: PHPStan

on:
  push:
    paths:
      - '**.php'
      - 'phpstan.neon.dist'

jobs:
  phpstan:
    runs-on: ubuntu-latest
    name: PHPStan Latest
    steps:
      - uses: actions/checkout@v6

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: 8.5
          coverage: none

      - name: Install dependencies
        env:
          XDEBUG_MODE: off
        run: composer update --prefer-stable --prefer-dist --no-interaction --no-progress --ansi

      - name: Run PHPStan
        run: ./vendor/bin/phpstan analyse -c phpstan.neon.dist --error-format=github
